<div class="todo-container">
  <ng-container *ngIf="!selectedList">
    <div class="no-list">
      <fa-icon class="no-list-icon" [icon]="faTasks"></fa-icon>
      <h2>No list selected</h2>
      <p>Create or select a list to get started!</p>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedList">
    <div class="heading">
      <fa-icon
        class="dot-menu"
        [icon]="faEllipsisH"
        (click)="openModal('edit-list-modal')"
      ></fa-icon>
    </div>

    <ng-container *ngIf="selectedList.todos.length == 0">
      <div class="no-tasks">
        <fa-icon class="no-tasks-icon" [icon]="faEdit"></fa-icon>
        <h2>No tasks yet</h2>
        <p>Click the add task icon below to get started!</p>
      </div>
    </ng-container>

    <div class="todos">
      <div
        *ngFor="let selectedList of selectedList.todos; let i = index"
        class="todo {{ selectedList.completed ? 'done' : '' }}"
      >
        <div class="todo-info">
          <div class="content" (click)="toggleTodoDone(i)">
            {{ selectedList.content }}
          </div>
          <div class="due-date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            <span>{{ this.selectedList.dueDate.slice(0, 22) }}</span>
          </div>
        </div>
        <fa-icon [icon]="faTrash" class="delete" (click)="deleteTodo(i)">
          Remove
        </fa-icon>
      </div>
    </div>
    <div class="add-task-container">
      <fa-icon
        class="add-task-icon"
        [icon]="faPlusCircle"
        (click)="openModal('add-task-modal')"
      ></fa-icon>
    </div>
  </ng-container>
</div>

<app-modal id="edit-list-modal" [elementToFocus]="'new-title'">
  <app-edit-list-dialog
    [selectedList]="selectedList"
    (listRenameEmitter)="handleListRenameEmitter($event)"
    (listToDeleteEmitter)="handleListToDeleteEmitter($event)"
    (closeModalEmitter)="handleCloseModalEmitter($event)"
  ></app-edit-list-dialog>
</app-modal>

<app-modal id="add-task-modal" [elementToFocus]="'content-text'">
  <app-add-task-dialog
    (taskEmitter)="handleTaskEmitter($event)"
    (closeModalEmitter)="handleCloseModalEmitter($event)"
  >
  </app-add-task-dialog>
</app-modal>
