<div class="todos">
  <h1>{{ selectedList.title }}</h1>
  <div *ngFor="let selectedList of selectedList.todos; let i = index">
    <div class="content">{{ selectedList.content }}</div>
    <button mat-raised-button color="primary" class="delete todo-submit">
      Remove
    </button>
  </div>
</div>
<form [formGroup]="todoForm" (submit)="addTodo()">
  <input
    type="text"
    name="inputTodo"
    placeholder="Add Todo..."
    class="todo-input"
    [formControlName]="'inputTodo'"
    maxlength="170"
  />
  <button
    mat-raised-button
    type="submit"
    value="Add Todo"
    color="primary"
    class="todo-submit"
    [disabled]="todoForm.invalid"
  >
    Add Todo
  </button>
</form>
