.todo-container {
  height: 100vh;
  background-color: rgb(63, 63, 63);

  .todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: white;
  }

  .todo.done .content {
    text-decoration: line-through;
  }

  .todo-info {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .content {
    width: fit-content;
    cursor: pointer;
  }

  .due-date {
    width: fit-content;
    margin-top: 0.25rem;

    font-size: 0.75rem;
    color: darkgrey;
  }

  .todo-input {
    display: block;
    width: 50vw;
    padding: 10px 15px;
    margin: 15px 20vw;
    font-size: 20px;
  }

  .todo-submit {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 15px auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
  }
}

.no-tasks {
  display: flex;
  flex-direction: column;
  padding: 15vh 0;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    margin-bottom: 1rem;
  }

  .no-tasks-icon {
    font-size: 15rem;
  }
}

.no-list {
  display: flex;
  flex-direction: column;
  padding: 25vh 0;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    padding-bottom: 1rem;
  }

  .no-list-icon {
    font-size: 15rem;
  }
}

h1,
p,
span,
fa-icon {
  color: rgb(255, 255, 255);
}

.add-task-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.add-task-icon {
  font-size: 5rem;
}
