<div class="dialog-title">
  <h2>Edit List</h2>
</div>

<form class="dialog-form" [formGroup]="editTitleForm">
  <input
    type="text"
    name="inputTitle"
    placeholder="Rename List"
    class="list-title"
    id="new-title"
    [formControlName]="'inputTitle'"
    maxlength="170"
  />
  <div class="buttons">
    <div class="delete" (click)="onDelete()">
      <fa-icon [icon]="faTrash"></fa-icon>
      Delete
    </div>
    <div class="cta">
      <button
        type="button"
        value="Cancel"
        class="button cancel"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        type="submit"
        value="Rename"
        class="button submit"
        [disabled]="editTitleForm.invalid"
        (click)="onSubmitTitle()"
      >
        Confirm
      </button>
    </div>
  </div>
</form>
