.cal-container {
  max-height: 500px;
  max-width: 500px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
  transition: 0.3s;

  .cal-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
  }

  .month {
    background-color: grey;
  }
}

.cal-text {
  color: black;
  padding: 1rem;
}

.month-year {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: grey;
  .arrow-icon {
    width: 10%;
    text-align: center;
  }
  p {
    width: 80%;
    text-align: center;
    color: white;
    padding: 1rem;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 200px;
  width: 100%;
}

.days .day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;

  .hour-menu,
  .minute-menu {
    margin: 1rem;
    min-height: 25px;
  }
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: darkgrey;
  p {
    color: white;
    padding: 1rem;
  }
}

.selected {
  background-color: grey;
}

.scrollable-vertical-menu {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 60px;
  overflow-y: auto;
}

.hidden {
  display: none;
}
