<div class="cal-container">
  <section class="selected-date" (click)="toggleCal()">
    <p class="cal-text" id="prevDate">{{ this.previewDate }}</p>
  </section>
  <div [ngClass]="{ hidden: calHidden == true }">
    <section class="month-year">
      <fa-icon
        class="arrow-icon"
        [icon]="faArrowLeft"
        (click)="prevMonthClicked()"
      ></fa-icon>

      <p class="cal-text">{{ months[month] }} {{ year }}</p>

      <fa-icon
        class="arrow-icon"
        [icon]="faArrowRight"
        (click)="nxtMonthClicked()"
      ></fa-icon>
    </section>
    <section class="days"></section>
  </div>
</div>
