.cal-container {
  max-height: 300px;
  max-width: 500px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.473);

  .month {
    background-color: grey;
  }
}

.cal-text {
  color: black;
  padding: 1rem;
}

.month-year {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: grey;
  .arrow-icon {
    width: 10%;
    text-align: center;
  }
  p {
    width: 80%;
    text-align: center;
    color: white;
    padding: 1rem;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 200px;
  width: 100%;
}

.days .day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: darkgrey;
  p {
    color: white;
    padding: 1rem;
  }
}

.selected {
  background-color: grey;
}

.hidden {
  display: none;
}
