<div class="cal-container">
  <section class="selected-date" (click)="toggleCal()">
    <p class="cal-text">{{ this.date }}</p>
  </section>
  <div [ngClass]="{ hidden: calHidden == true }">
    <section class="month-year">
      <fa-icon
        class="arrow-icon"
        [icon]="faArrowLeft"
        (click)="prevMonthClicked()"
      ></fa-icon>

      <p class="cal-text">{{ months[month] }} {{ year }}</p>

      <fa-icon
        class="arrow-icon"
        [icon]="faArrowRight"
        (click)="nxtMonthClicked()"
      ></fa-icon>
    </section>
    <section class="days">
      <div class="day">1</div>
      <div class="day">2</div>
      <div class="day">3</div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day">7</div>
      <div class="day">1</div>
      <div class="day">2</div>
      <div class="day">3</div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day">7</div>
      <div class="day">1</div>
      <div class="day">2</div>
      <div class="day">3</div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day">7</div>
      <div class="day">1</div>
      <div class="day">2</div>
      <div class="day">3</div>
      <div class="day">4</div>
      <div class="day">5</div>
      <div class="day">6</div>
      <div class="day">7</div>
    </section>
  </div>
</div>
