* {
  color: white;
}

.cal-container {
  max-height: 500px;
  max-width: 500px;

  box-shadow: 0 4px 8px 0 rgb(12, 12, 12);
  opacity: 0.75;
  transition: all 356ms ease-in-out;
}

.cal-container:hover {
  opacity: 1;
}

.month-year {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: #292929;
  .arrow-icon {
    width: 10%;
    text-align: center;
    transition: all 356ms ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      color: #3eb489;
    }

    &:active {
      transition: none;
      transform: scale(1);
    }
  }
  p {
    width: 80%;
    text-align: center;
    color: white;
    padding: 1rem;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 200px;
  width: 100%;
}

.days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 356ms ease-in-out;

  opacity: 0.75;

  &:hover {
    cursor: pointer;
    transform: scale(1.25);
    opacity: 1;
  }
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #3eb489;
  padding: 0.5rem;

  h3 {
    color: #3eb489;
    margin-right: 0.25rem;
  }

  .hour-menu,
  .minute-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    transition: all 356ms ease-in-out;
    opacity: 0.75;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      padding: 0 1rem;
      opacity: 1;
    }
  }
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  background-color: #3eb489;
  p {
    color: white;
    padding: 1rem;
  }
}

.selected-date:hover {
  cursor: pointer;
}

.selected {
  background-color: #3eb489;
}

.scrollable-vertical-menu {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  overflow-y: auto;
  opacity: 0.75;
  transform: scale(0.9);

  li:hover {
    cursor: pointer;
    transform: scale(1.15);
    opacity: 1;
  }
}

.hidden {
  display: none;
}
