.todo-lists {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.list,
.new-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;

  cursor: pointer;
}

.active {
  color: #3eb489;
  .active-list {
    transform: scale(1.1);
  }
}

.active-list {
  width: 100%;
  min-height: 10px;
  border-bottom: 5px solid #3eb489;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

h1,
p,
span,
div {
  color: rgb(255, 255, 255);
}
