<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="title">Your Lists</mat-toolbar>
    <mat-nav-list>
      <app-todo-lists
        [todoLists]="todoLists"
        (selectedListEmitter)="handleSelectedListEmitter($event)"
      ></app-todo-lists>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">TooDoo</span>
    </mat-toolbar>
    <app-todo [selectedList]="selectedList"></app-todo>
  </mat-sidenav-content>
</mat-sidenav-container>
