<app-main-nav
  [todoLists]="todoLists"
  [selectedList]="selectedList"
  (selectedListEmitter)="handleSelectedListEmitter($event)"
  (listToDeleteEmitter)="handleListToDeleteEmitter($event)"
  (listTitleEmitter)="handleListTitleEmitter($event)"
>
</app-main-nav>
<app-calendar></app-calendar>
<!--<app-todo
  [selectedList]="selectedList"
  (todoToDeleteEmitter)="handleTodoToDeleteEmitter($event)"
  (toggledDoneTodoEmitter)="handleToggledDoneTodoEmitter($event)"
  (todoContentEmitter)="handleTodoContentEmitter($event)"
  (listRenameEmitter)="handleListRenameEmitter($event)"
  (listToDeleteEmitter)="handleListToDeleteEmitter($event)"
></app-todo>
<app-modal></app-modal>-->
