<h2 mat-dialog-title>New Todo</h2>
<mat-dialog-content><p>What do you... need to TooDoo?</p></mat-dialog-content>
<mat-dialog-actions>
  <form [formGroup]="todoForm">
    <input
      type="text"
      name="inputList"
      placeholder="Enter Todo Title..."
      class="list-input"
      [formControlName]="'inputTodo'"
      maxlength="170"
    />

    <button
      mat-raised-button
      mat-dialog-close
      type="submit"
      value="Add Todo"
      color="primary"
      class="todo-submit"
      [disabled]="todoForm.invalid"
      (click)="addTodo()"
    >
      Add List
    </button>
  </form>
</mat-dialog-actions>
