<h2>New Task</h2>

<p>What do you... need Toodoo?</p>
<div class="due-date">
  <h3>Due Date</h3>
  <app-calendar
    (selectedDateEmitter)="handleSelectedDateEmitter($event)"
  ></app-calendar>
</div>

<form [formGroup]="taskForm">
  <input
    type="text"
    name="taskContent"
    placeholder="New Task..."
    class="list-input"
    id="content-text"
    [formControlName]="'taskContent'"
    maxlength="100"
  />

  <button
    type="submit"
    value="Add Task"
    class="todo-submit"
    [disabled]="taskForm.invalid"
    (click)="onSubmit()"
  >
    Add Task
  </button>
</form>
