<div class="dialog-title">
  <h2>New Task</h2>
</div>

<form class="dialog-form" [formGroup]="taskForm">
  <input
    type="text"
    name="taskContent"
    placeholder="What do you.. need TooDoo?"
    class="task-content"
    id="content-text"
    [formControlName]="'taskContent'"
    maxlength="100"
  />

  <div class="due-date">
    <h3>Due Date</h3>
    <app-calendar
      (selectedDateEmitter)="handleSelectedDateEmitter($event)"
    ></app-calendar>
  </div>

  <div class="buttons">
    <button
      type="button"
      value="Cancel"
      class="button cancel"
      (click)="onCancel()"
    >
      Cancel
    </button>

    <button
      type="submit"
      value="Add Task"
      class="button submit"
      [disabled]="taskForm.invalid"
      (click)="onSubmit()"
    >
      Confirm
    </button>
  </div>
</form>
